article.fixture
  h3.test-header.collapse
    button(type="button", aria-expanded=fixture.hasErrors ? "true" : "false")
      span.collapse-icon +
      span  #{fixture.name}
    hr
    div.test-labels
      span.label #{fixture.duration}
      span.label(class=fixture.hasErrors ? "error" : "success").
        #{fixture.hasErrors ? "failure" : "success"}
  div.fixture-tests
    each test in fixture.tests
      h4.test-header.collapse
        button(type="button", aria-expanded=test.errs.length > 0 ? "true" : "false")
          span.collapse-icon +
          span  #{test.name}
        hr
        div.test-labels
          span.label #{test.duration}
          span.label(class=test.errs.length > 0 ? "error" : "success").
            #{test.errs.length > 0 ? "failure" : "success"}
      div(hidden=test.errs.length > 0 ? false : true)
        if test.errs.length > 0
          each err in test.errs
            div.test-error
              pre.test-error-stack
                code #{err}

              div.test-screenshot-container
                each screenshot in test.screenshots
                  a(href=screenshot.screenshotPath)
                    img.test-screenshot(
                      src=screenshot.screenshotPath,
                      alt=`${test.name} ${screenshot.quarantineAttempt ? 'attempt ' + screenshot.quarantineAttempt : ''}` title=`${test.name} ${screenshot.quarantineAttempt ? 'attempt ' + screenshot.quarantineAttempt : ''}`
                    )
