header
  span Duration #{duration}
  h3 Breakdown
  div.breakdown.table
    div.breakdown.tableRow
      div.breakdown.tableHead.passed Passed
      div.breakdown.tableCell #{passed}
    div.breakdown.tableRow
      div.breakdown.tableHead.failed Failed
      div.breakdown.tableCell #{total - (passed + skipped)}
    div.breakdown.tableRow
      div.breakdown.tableHead.skipped Skipped
      div.breakdown.tableCell #{skipped}
    div.breakdown.tableRow
      div.breakdown.tableHead Total
      div.breakdown.tableCell #{total}
